.pagination .page-item.active .page-link {
    background-color: #005b9e; 
    border-color: #005b9e; 
    color: #fff; 
  }
  
  .pagination .page-item .page-link {
    color: #005b9e; 
}

.form-floating label {
  color: #005b9e;
}

.form-floating .form-control {
  margin-top: 8px; 
}


#filterSection .form-floating .form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0; 
  box-shadow: none;
  transition: border-color 0.3s ease-in-out;
  padding-left: 0;
}

#filterSection .form-floating .form-control:focus {
  border-bottom: 2px solid #005b9e; 
  box-shadow: none;
}

.form-floating .form-control[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

.form-floating .form-select {
  margin-top: 8px;
  padding-top: 1.625rem; 
}

#filterSection .form-floating .form-select {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
}

#filterSection .form-floating .form-select:focus {
  border-bottom: 2px solid #005b9e;
  box-shadow: none;
}

#tarefasLista {
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
}

#tarefasLista .list-group-item {
  cursor: pointer;
}

