{% extends 'base.html' %} {% block title %}Detalhes da Tarefa{% endblock %}
{%block content %}

<div
  class="d-flex justify-content-between align-items-center mb-4 border-bottom"
>
  <h1>Detalhes da Tarefa</h1>
  <div>
    <a href="{% url 'listar_tarefas' %}" class="btn btn-custom-outline">
      Voltar
    </a>
  </div>
</div>

<div class="container mt-4">
  <form>
    <div class="row">
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="idTarefa"
            value="{{ tarefa.id }}"
            readonly
          />
          <label for="idTarefa text-red">ID</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="dataCriacao"
            value="{{ tarefa.data_criacao|date:'d/m/Y' }}"
            readonly
          />
          <label for="dataCriacao">Data de Criação</label>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="responsavel"
            value="{{ tarefa.nome_responsavel }}"
            readonly
          />
          <label for="responsavel">Responsável</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            id="titulo"
            value="{{ tarefa.titulo }}"
            readonly
          />
          <label for="titulo">Título</label>
        </div>
      </div>
    </div>

    <div class="form-floating mb-3">
      <textarea
        class="form-control"
        id="descricao"
        style="height: 270px"
        readonly
      >
{{ tarefa.descricao }}</textarea
      >
      <label for="descricao">Descrição</label>
    </div>
  </form>
</div>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2 class="mt-4">Registros de Tempo Associados</h2>
</div>
<div class="d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-custom"
    data-bs-toggle="modal"
    data-bs-target="#modalRegistroTarefa"
    id="btnRegistroTarefa"
  >
    <i class="fas fa-plus me-1"></i> Adicionar Registro de Tempo
  </button>
</div>
<div class="table-responsive">
  <table class="table table-striped mt-3 border">
    <thead>
      <tr>
        <th class="col-2">Data de Registro</th>
        <th class="col-2">Horas Trabalhadas</th>
        <th class="col-6">Descrição</th>
        <th class="col-2">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for registro in registros %}
      <tr>
        <td>{{ registro.data_registro|date:"d/m/Y H:i" }}</td>
        <td>{{ registro.horas_formatadas }}</td>
        <td class="text-truncate" style="max-width: 200px">
          {{ registro.descricao_trabalho }}
        </td>
        <td>
          <a
            href="{% url 'detalhe_registro_tempo' registro.id %}"
            class="btn btn-sm btn-custom-outline"
          >
            Ver Detalhes
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">
          Nenhum registro encontrado para esta tarefa.
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'tempo_trabalho/componentes/modais/modal_registro_tarefa.html' %}
{% endblock %}
