{% extends 'base.html' %}

{% block title %}Histórico de Registros de Tempo{% endblock %}

{% block content %}
<div
  class="d-flex justify-content-between align-items-center mb-4 border-bottom"
>
  <h1>Histórico de Horas Trabalhadas</h1>
  <div>
    <button
      type="button"
      class="btn btn-custom me-2"
      data-bs-toggle="modal"
      data-bs-target="#modalNovaTarefa"
    >
      <i
        class="fas fa-plus me-1"
        style="font-size: 12px; vertical-align: middle"
      ></i>
      Novo Registro
    </button>

    <a class="btn btn-custom-outline" href="{% url 'listar_tarefas' %}"> Histórico de Tarefas </a>
  </div>
</div>

{% include 'tempo_trabalho/componentes/filtros/filtro_registros.html'  %}
{% include 'tempo_trabalho/componentes/tabelas/tabela_registros.html' %}
{% endblock %}
